<section class="apps-screenshot-area bg-color1 p-t-130 p-b-100" id="apps_area">
   {{ comment }} 
   <!--
   <div class="themeix-ani">
        <img src="{{site.baseurl}}/assets/images/themeix-ani1.png" alt="animated shape" class="shape-one">
        <img src="{{site.baseurl}}/assets/images/themeix-ani2.png" alt="animated shape" class="shape-two">
        <img src="{{site.baseurl}}/assets/images/themeix-ani3.png" alt="animated shape" class="shape-tree">
        <img src="{{site.baseurl}}/assets/images/themeix-ani4.png" alt="animated shape" class="shape-four">
        <img src="{{site.baseurl}}/assets/images/themeix-ani5.png" alt="animated shape" class="shape-five">
        <img src="{{site.baseurl}}/assets/images/themeix-ani6.png" alt="animated shape" class="shape-six">
    </div>
    -->
    {{ endcomment }}
            <div class="container">
               <div class="apps-screenshot-wrapper">
                  <div class="row">
                     <div class="col-md-7">
                        <div class="swiper-container">
                           <div class="swiper-wrapper">
                              <!-- Slides -->
                              <div class="swiper-slide"><img src="{{site.baseurl}}/assets/images/screenshots-img.jpg" alt="Screenshot image" /></div>
                              <div class="swiper-slide"><img src="{{site.baseurl}}/assets/images/screenshots-img6.png" alt="Screenshot image" /></div>
                              <div class="swiper-slide"><img src="{{site.baseurl}}/assets/images/screenshots-img3.jpg" alt="Screenshot image" /></div>
                              <div class="swiper-slide"><img src="{{site.baseurl}}/assets/images/screenshots-img7.png" alt="Screenshot image" /></div>
                              <div class="swiper-slide"><img src="{{site.baseurl}}/assets/images/screenshots-img2.jpg" alt="Screenshot image" /></div>
                              <div class="swiper-slide"><img src="{{site.baseurl}}/assets/images/screenshots-img5.jpg" alt="Screenshot image" /></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-5">
                        <div class="screenshot-content m-l-30">
                           <div class="section-title m-b-40" data-aos="fade-up">
                              <h2 class="big-font2">¿Qué es Vacapop?</h2>
                              <p>
                                 Vacapop es una app móvil donde puedes publicar y encontrar anuncios de compraventa de ganado.
                              </p>
                           </div>
                           <ul class="screenshot-list m-b-40 list-inline">
                              <li>Encuentra todo tipo de animales (vacas, caballos, ovejas, cabras, gallinas, cerdos...). Y ahora también maquinaria, herramientas, forraje... </li>
                              <li>Es gratis, sin comisiones por comprar o vender.</li>
                              <li>Negocia directamente y de forma confidencial con ganaderos de toda España.</li>
                              <li>Una comunidad formada por más de 12.000 ganaderos.</li>
                           </ul>
                           <div class="apps-download-link">
                              <p class="weight-medium">
                                 <!--
                                    Olvídate de buscar ganado en Milanuncios, FaceBook, foros, Wallapop o grupos de Whastapp. 
                                 -->
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
</section>