<footer class="footer-area bg-color2">
    <div class="container">
        <div class="footer-widget-wrraper p-b-100">
            <div class="row">
                <div class="col-md-6 col-lg-5">
                    <a href="{{site.url}}" class="footer-logo"><img src="{{site.logo}}" alt="{{site.title}}" /></a>
                    <div class="footer-widget">
                        <p>Vacapop es la primera app para comprar y vender ganado desde tu movil de forma rapida, sencilla y totalmente gratuita.</p>
                        <!--
                            <ul class="social-link list-inline">
                                <li class="list-inline-item"><a target='_blank' href="https://www.facebook.com/vacapopapp"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="list-inline-item"><a target='_blank' href="https://twitter.com/vacapop"><i class="fab fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a target='_blank' href="https://www.instagram.com/vacapop_app"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        -->
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h5 class="heading-5">Contenido</h5>
                        </div>
                        <ul class="widget-list list-inline">
                            <li><a href="{{site.url}}">Inicio</a></li>
                            <li><a href="#apps_area" class="js-scroll-trigger">¿Cómo funciona?</a></li>
                            <li><a href="#feature" class="js-scroll-trigger">Capturas</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-lg-1">
                </div> 

                <div class="col-md-6 col-lg-3">
                     <div class="footer-widget">
                        <div class="widget-title">
                            <h5 class="heading-5">Legal</h5>
                        </div>
                        <ul class="widget-list list-inline">
                            <li><a target='_blank' href="/pages/legal">Aviso legal</a></li>
                            <li><a target='_blank' href="/pages/privacy">Política de privacidad</a></li>
                            <li><a target='_blank' href="/pages/cookies">Política de cookies</a></li>
                        </ul>
                    </div>
                    <!--
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h5 class="widget-title heading-5">Subscribe Us</h5>
                        </div>
                        <form action="{{site.mailchimp-list}}" method="post" name="mc-embedded-subscribe-form" class="wj-contact-form validate" target="_blank" novalidate>
                            <div class="form-group">
                                <input type="text" class="form-control required email" placeholder="Your Email">
                            </div>
                            <div class="form-group m-0">
                                <button name="subscribe" class="btn btn-primary btn-block" type="submit">Submit Now</button>
                            </div>
                        </form>
                    </div>
                </div>
                -->
            </div>
        </div>
        <div class="footer-copyright-wrapper text-center">
            <p>© {{ 'now' | date: "%Y" }} - VACAPOP</p>
        </div>
        <a href="#" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
    </div>
    <ul class="footer-shape list-inline">
        <li class="left"><img src="{{site.baseurl}}/assets/images/footer-shap.png" alt="footer shape" /></li>
        <li class="right"><img src="{{site.baseurl}}/assets/images/footer-shap2.png" alt="footer shape" /></li>
    </ul>
</footer>