<!-- ==================== Start Newsletter Area  ========================= -->
<!-- <section class="contact-area d-flex align-content-stretch themeix-highlight">
<form class="contact-form wow fadeIn" data-wow-duration="1s" action="#">
    <div class="form-row">
        <div class="col-md-12">
            <h5 class="heading-5">Send Your Message</h5>
            <script src="https://desk.zoho.com/portal/api/feedbackwidget/214703000001372015?orgId=652931404&displayType=embeded"></script>
            <div id="zsfeedbackwidgetdiv"></div>
        </div>
    </div>
</form>
</section> -->
<section class="newsletter-area bg-color1 p-b-130" id="contact">
<div class="container">
    <div class="newsletter-wrapper">
        <div class="row">
            <div class="col-md-6">
            <div class="section-title m-b-60">
                <h2 class="big-font2">Contáctanos</h2>
                <p>
                    Si tienes dudas sobre Vacapop o quieres conocer más detalles, no dudes en enviarnos un mensaje.
                </p>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-7">
            <div class="newsletter-img float-right"><img src="{{site.baseurl}}/assets/images/newsletter-img.svg" alt="newsletter image" /></div>
            </div>
            <div class="col-md-6 col-lg-5">
            <div class="newsletter-form" data-aos="fade-up-left">
                <div class="inner-title m-b-30">
                    <h3 class="heading-3">Envía tu mensaje</h3>
                </div>
                <form action="https://formkeep.com/f/8cea0e9547fd"
                    accept-charset="UTF-8"
                    enctype="multipart/form-data"
                    method="POST">
                    <div class="form-group">
                        <input name='email' type="email" class="form-control" placeholder="Tu email">
                    </div>
                    <div class="form-group">
                        <textarea name='message' class="form-control" placeholder="Tu mensaje" rows="5"></textarea>
                    </div>
                    <div class="form-group m-0">
                        <button class="btn-primary btn-block" style="background-color: #009a40; border-color: #009a40;" type="submit">Enviar mensaje</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- ==================== End Newsletter Area  ========================= -->